@model db_TO_web.Models.TO.CarList

@{
    ViewData["Title"] = "DeleteCar";
}

<h1>DeleteCar</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CarList</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model.ModelId)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AutoType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AutoType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRegistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfDeregistration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfDeregistration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastToDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastToDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentTraveled)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentTraveled)
        </dd>
    </dl>
    
    <form asp-action="DeleteCar">
        <input type="hidden" asp-for="CarListId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="CarList">Back to List</a>
    </form>
</div>
